In [10]:
import pandas as pd 
text = ["This is the NLP TASKS ARTICLE written by ABhishek Jaiswal" , "IN this article I”ll be explaining various DATA-CLEANING techniques", "So stay tuned for FURther More && ","Nah I don't think he goes to usf, he lives around"]
df = pd.DataFrame({'text':text})

In [11]:
df

                                                text
0  This is the NLP TASKS ARTICLE written by ABhis...
1  IN this article I”ll be explaining various DAT...
2                 So stay tuned for FURther More &&
3  Nah I don't think he goes to usf, he lives around

In [12]:
df['lower'] = df['text'].apply(lambda x: " ".join(x.lower()  for x in x.split()))

In [13]:
df['lower']

0    this is the nlp tasks article written by abhis...
1    in this article i”ll be explaining various dat...
2                    so stay tuned for further more &&
3    nah i don't think he goes to usf, he lives around
Name: lower, dtype: object

In [14]:
import string

In [15]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
df1 = df.text.apply(lambda x: "".join(i for i in x if i not in string.punctuation))

In [18]:
df1

0    This is the NLP TASKS ARTICLE written by ABhis...
1    IN this article I”ll be explaining various DAT...
2                     So stay tuned for FURther More
3      Nah I dont think he goes to usf he lives around
Name: text, dtype: object